# Dependencias
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Producción
/build

# Misceláneos
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Editor
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
*.iml

# Archivos de sistema
Thumbs.db
desktop.ini